<%= link_to "New Recommendation", new_recommendation_path, :class => "btn", :style => "float: right;" %>

<h2>Recommendations list</h2>

<div id="recommendations-list">
  <% if @recommendations.present? %>
    <% @recommendations.each do |recommendation| %>
      <div class='recommendation' style="border: 2px solid #dddddd; margin-bottom: 5px; padding: 5px; border-radius: 5px;">
        <%= link_to recommendation.to_s, recommendation_path(recommendation), :style => "font-size: 18px;" %><span style='color: #aaaaaa; font-size: 11px;'>, <%= recommendation.recommended_songs.count %> songs - by <%= recommendation.user.to_s %>

          <% if current_user.id == recommendation.user_id %>
            <%= link_to "(Edit)", edit_recommendation_path(recommendation) %>
          <% end %>
        </span>

        <%= render :partial => "songs_list", :locals => {:songs => recommendation.songs} %>
      </div>
    <% end %>
  <% else %>
      No recommendations created yet !!
  <% end %>
</div>
